.service {
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 10px;
}

.service img {
    width: 90%;
    margin-top: 5px;
    border-radius: 10px;
}

.service button {
    background-color: chocolate;
    color: aqua;
    border: 0ch;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}